@{ 
    Layout = "~/Views/Shared/_LayoutIndex.cshtml"; 
}

<div class="text-center">
    <h1></h1>
    <h1 class="display-4">Praca Inżynierska<br /></h1><h3>Strona główna w trakcie budowy. Do tej pory zrobiony jest wstępnie panel administratora z opcjami dodawania, edytowania oraz usuwania użytkowników i produktów z bazy danych</h3>
    
</div>

